<div class="container">

    <div class="card" style="width: 200px;">
        <img src="../images/devsm.png" class="card-img-top" alt="engineer" style="height: 200px;">
        <div class="card-body" id="card-manager">
            <h5 class="card-title">Engineer</h5>
            <p class="card-text">Engineer Name:
                <br>${team[i].name}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Engineer ID:
                <br>${team[i].id}</li>
            <li class="list-group-item">Engineer Email:
                <br>${team[i].email}</li>
            <li class="list-group-item">Engineer GitHub:
                <br>${team[i].github}</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link"> </a>
            <a href="#" class="card-link"> </a>
        </div>
    </div>
</div>