<div class="container">

    <div class="card" style="width: 200px;">
        <img src="../images/manager.png" class="card-img-top" alt="manager" style="height: 200px;">
        <div class="card-body" id="card-manager">
            <h5 class="card-title">Manager</h5>
            <p class="card-text">Manager Name:
                <br>${team[0].name}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Manager ID:
                <br>${team[0].id}</li>
            <li class="list-group-item">Manager Email:
                <br>${team[0].email}</li>
            <li class="list-group-item">Office Number:
                <br>${team[0].officeNumber}</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link"> </a>
            <a href="#" class="card-link"> </a>
        </div>
    </div>
</div>